<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create article</title>
</head>
<body>

<form method="POST" action="/create/article">
    <input name="article_author" placeholder="Article author" type="text">
    <input name="article_title" placeholder="Article title" type="text">
    <input name="article_text" placeholder="Article text" type="text">

    <button>Create article</button>
</form>

</body>
</html>